@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

:root {
  --font-size: 22px;

  /* 🎨 Màu chữ */
  --color-text-main: #000;

  /* 🎨 Màu nền */
  --color-bg-main: #fff;
  --secondary-color: #ffeeaf;
  --color-bg-welcome: #fff;
  --color-bg-nickname: #ffcc00;

  /* 🎨 Màu viền */
  --color-border-main: #000;
}

html,
body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: "TikTok Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  overflow: hidden;
  color: white;
  height: 100vh;
}

#status {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
}

#welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.welcome {
  opacity: 0;
  transform: translateY(-200px) scale(0.9);
  transition: opacity 0.4s ease, transform 0.4s ease;
  margin-top: 20px;
}

.welcome.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.welcome .welcome-avatar {
  display: none;
}

.welcome-head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  color: var(--color-text-main);
  background: var(--color-bg-nickname);
  padding: 5px 15px;
  border-radius: 50px;
  border: 2px solid var(--color-border-main);
}

.welcome-content {
  padding: 15px;
  background: var(--color-bg-main);
  color: var(--color-text-main);
  border-radius: 50px;
  min-width: 320px;
  font-size: var(--font-size);
  border: 2px solid var(--color-border-main);
}

.welcome-text {
  color: var(--color-text-main);
  text-align: center;
}

.gift {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(-50px);
  position: relative;
}

.gift.show {
  opacity: 1;
  transform: translateY(0);
}

.gift-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}

#gift-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.gift-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  padding: 20px;
  border: 4px solid var(--color-border-main);
  border-radius: 20px;
}

.gift-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  right: -4px;
  bottom: -10px;
  z-index: -1;
  border-radius: 0 0 25px 25px;
  border-bottom: 10px solid var(--color-border-main);
}

.gift-head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  background: var(--color-bg-nickname);
  color: var(--color-text-main);
  padding: 5px 15px;
  border-radius: 50px;
  border: 2px solid var(--color-border-main);
  z-index: 2;
}

.gift-text {
  color: var(--color-text-main);
  font-size: var(--font-size);
  text-align: center;
}

.fade-out {
  opacity: 0 !important;
  transform: translateY(-10px) !important;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
