html,
body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: "TikTok Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  overflow: hidden;
  height: 100vh;
}

#status {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
